/CAN
/USA
/ARG
/BIH
/BOL
/DOM
/EGY
/GBR
/GRC
/HRV
/IRQ
/JOR
/KEN
/LBN
/LVA
/MAR
/NGA
/PRT
/TZA
/UKR
/ZAF
/ABW
/AIA
/ARM
/ATA
/ATF
/ATG
/AUS
/AZE
/BGD
/BGR
/BHS
/BLR
/BLZ
/BMU
/BRA
/BRB
/BRN
/BTN
/BVT
/CCK
/CHE
/CHL
/COK
/COL
/CRI
/CUB
/CYM
/CYP
/DEU
/DMA
/ECU
/ESP
/FIN
/FJI
/FLK
/FRA
/FSM
/GRD
/GRL
/GTM
/GUY
/HKG
/HMD
/HND
/HTI
/IDN
/IND
/IOT
/ISL
/JAM
/JPN
/KHM
/KIR
/KNA
/LAO
/LCA
/LKA
/LTU
/MAC
/MDV
/MEX
/MHL
/MKD
/MLT
/MMR
/MNE
/MNG
/MSR
/MYS
/NCL
/NFK
/NIC
/NIU
/NLD
/NPL
/NRU
/NZL
/PAN
/PCN
/PER
/PHL
/PLW
/PNG
/POL
/PRK
/PRY
/SGP
/SGS
/SLB
/SLV
/SPM
/SRB
/SUR
/SVK
/SVN
/SWE
/TCA
/THA
/TKL
/TLS
/TON
/TTO
/TUR
/TUV
/TWN
/UMI
/URY
/VCT
/VEN
/VGB
/VNM
/VUT
/WLF
/WSM
/XCP
/ZZZ
/built_nav_nodes.txt
/built_nav_restrictions.txt
/built_nav_streets.txt
/built_speed_profile_sets.txt
/built_streetpro_layers.txt
/AFG
/AGO
/ALB
/AND
/ARE
/AUT
/BDI
/BEL
/BEN
/BFA
/BHR
/BWA
/CAF
/CIV
/CMR
/COD
/COG
/COM
/CPV
/CZE
/DJI
/DNK
/DZA
/ERI
/EST
/ETH
/GAB
/GEO
/GHA
/GIN
/GMB
/GNB
/GNQ
/HUN
/IRL
/IRN
/ISR
/ITA
/KAZ
/KGZ
/KWT
/LBR
/LBY
/LSO
/LUX
/MDA
/MDG
/MLI
/MOZ
/MRT
/MUS
/MWI
/NAM
/NER
/NOR
/OMN
/PAK
/PSE
/QAT
/ROU
/RUS
/RWA
/SAU
/SDN
/SEN
/SHN
/SLE
/SOM
/SSD
/STP
/SWZ
/SYC
/SYR
/TCD
/TGO
/TJK
/TKM
/TUN
/UGA
/UZB
/XKS
/YEM
/ZMB
/ZWE
/INI
/202006-sp-all-layers.csv
/202006-sp-nav_nodes.csv
/202006-sp-nav_restrictions.csv
/202006-sp-nav_streets.csv
/202006-sp-speed_profile_sets.csv
/countries_with_pop_speed_profiles.csv
