@import url("imports/reset.css");

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: flex;
    width: 99.9%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #282c34;
    color: white;
}

a {
    color: pink;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

label {
    display: block;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    padding: 0.4em;
    margin: 0 0 0.5em 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
}

input:disabled {
    color: #ccc;
}

input[type="range"] {
    height: 0;
}

button {
    color: #333;
    background-color: #f4f4f4;
    outline: none;
}

button:disabled {
    color: #999;
}

button:not(:disabled):active {
    background-color: #ddd;
}

button:focus {
    border-color: #666;
}

.content {
    width: 100%;
    min-width: 360px;
    max-height: 80px;
    padding: 0;
}

.content main, .content * p {
    width: 100%;
}

.content * img {
    margin: 8px -4px 0 0;
}
.content * img[alt^="Stymaps"] {
    width:                226px;
}
.content * img[src$="svg"] {
    width:                604px;
}

.content div#version {
    position:			fixed;
    left:				2px;
    bottom:			2px;
    font-size:		10pt;
}
.content div#version * {
    font-size:        10pt;
    margin-left:      8px;
}
.content div#version * img {
    width:			72px;
    height:			72px;
    margin-left:	-4px;
    margin-bottom:	-8px;
}

.content h3 {
    width:          604px;
    min-width:      360px;
    min-height:		154px;
    border-top:		2px solid #7f7fff;
    padding-top:	6px;
    padding-right:	4px;
}
.content h4 {
    padding-top:	6px;
    padding-right:	4px;
}
.content > p, .content > h4 {
    margin-top: 	10px;
    margin-bottom:	30px;
}
.content > ul {
    margin-bottom:	60px;
}
.content * a {
    font-weight: 			bold;
    text-decoration: 		none;
    color: 				#a277ff;
}

.content * pre {
    /*width: 72.5%;*/
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    padding-left: 1%;
    padding-right: 1%;
    text-align: left;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    background: rgba(66, 66, 66, 0.5);
}

.content * pre code {
    max-width: 1024px;
    word-wrap: break-word;
}

.content * .r-data pre {
    clear: right;
    display: block;
    display: -webkit-box;
    max-width: 1024px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 15;
    -webkit-box-orient: vertical;
}

.content * img {
    float:			right;
    position:		relative;
    width:			320px;
    margin-top: 	-2px;
    margin-bottom: 	-1px;
}

.content * .r-mapping img {
    float:			none;
    position:		relative;
    margin:         auto;
    width:			100%;
}

.section {
    width: 100%;
    padding: 4px;
}

.controls {
    float: left;
    color: #282c34;
    position: relative;
    margin: -50% 8px 8px 0px;
    width: 300px;
    padding: 1em;
    text-align: center;
    background-color: rgba(255,255,255,0.7);
    border-radius: 2px;
    z-index: 2;
}

.controls.right {
    float: right;
}

.controls label input[type="color"] {
    clear: both;
    margin: 100px;
    margin-top: 2px;
    margin-bottom: 10px;
}


@media screen and (max-width: 604px) {

    pre {
        width: 100%;
    }

    .controls {
        padding-left: 0;
        padding-right: 0;
    }

}
