/ARE
/AUT
/BEL
/BGR
/BHR
/BRA
/CAN
/CHE
/CZE
/DEU
/DNK
/EGY
/ESP
/EST
/FIN
/FRA
/GBR
/GRC
/HKG
/HRV
/HUN
/IDN
/IND
/INI
/IRL
/ISL
/ITA
/KEN
/KOR
/KWT
/LTU
/MAC
/MAR
/MEX
/MLT
/MYS
/NGA
/NLD
/NOR
/NZL
/OMN
/PHL
/POL
/PRT
/QAT
/ROU
/RUS
/SAU
/SGP
/SRB
/SVK
/SVN
/SWE
/THA
/TUR
/TWN
/USA
/VNM
/XKS
/ZAF
/ABW
/AFG
/AGO
/AIA
/ALB
/ARG
/ARM
/ATA
/ATF
/ATG
/AUS
/AZE
/BDI
/BEN
/BFA
/BGD
/BHS
/BIH
/BLR
/BLZ
/BMU
/BOL
/BRB
/BRN
/BTN
/BVT
/BWA
/CAF
/CCK
/CHL
/CHN
/CIV
/CMR
/COD
/COG
/COK
/COL
/COM
/CPV
/CRI
/CUB
/CYM
/CYP
/DJI
/DMA
/DOM
/DZA
/ECU
/ERI
/ETH
/FLK
/FSM
/GAB
/GEO
/GHA
/GIN
/GMB
/GNB
/GNQ
/GRD
/GRL
/GTM
/GUY
/HMD
/HND
/HTI
/IOT
/IRN
/IRQ
/ISR
/JAM
/JOR
/JPN
/KAZ
/KGZ
/KHM
/KIR
/KNA
/LAO
/LBN
/LBR
/LBY
/LCA
/LKA
/LSO
/LVA
/MDA
/MDG
/MDV
/MHL
/MKD
/MLI
/MMR
/MNE
/MNG
/MOZ
/MRT
/MSR
/MUS
/MWI
/NAM
/NER
/NFK
/NIC
/NIU
/NPL
/NRU
/PAK
/PAN
/PCN
/PLW
/PNG
/PRK
/PRY
/PSE
/RWA
/SDN
/SEN
/SGS
/SHN
/SLB
/SLE
/SLV
/SOM
/SSD
/STP
/SUR
/SWZ
/SYC
/SYR
/TCA
/TCD
/TGO
/TJK
/TKL
/TKM
/TLS
/TON
/TTO
/TUN
/TUV
/TZA
/UGA
/UKR
/URY
/UZB
/VCT
/VEN
/VGB
/VUT
/WSM
/XCP
/YEM
/ZMB
/ZWE
/ZZZ
